SNOWFLAKE_ACCOUNT=ORGNAME-ACCOUNTNAME
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=RESTAURANT_WH
SNOWFLAKE_DATABASE=RESTAURANT_INTELLIGENCE
SNOWFLAKE_ROLE=RESTAURANT_LOADER
NYC_APP_TOKEN=your_app_token   
SNOWFLAKE_PRIVATE_KEY_PATH=~/.ssh/snowflake_rsa_key.pem