# Environment variables - NEVER commit
.env
.env.swp

# Python
__pycache__/
*.py[cod]
.venv/
.venv-dbt/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
logs/

# cortex
*.p8
*.pem
rsa_key.*
cortex/.venv/